<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "IB Sports Academy",
"description": "IB Sports Academy is a leading youth basketball training institution in India, dedicated to nurturing student-athletes through skill-based coaching, physical education, and character development. Based in Delhi NCR, we offer grassroots to elite-level basketball programs empowering the next generation of players.",
  "url": "https://ibsportsacademy.com/",
  "logo": "https://blog.ibsportsacademy.com/logo.png",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+91-8860500059",
    "contactType": "Customer Service",
    "email": "academyibsports@gmail.com",
    "areaServed": "IN",
    "availableLanguage": ["en", "hi"]
  },
  "hasMap": "https://maps.app.goo.gl/FvtLoLKMiw6zG6ew5",
  "sameAs": [
    "https://www.instagram.com/ibsportsacademy/",
    "https://www.youtube.com/@IBSportsAcademy"
  ]
}
</script>
